<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Quebes</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <!-- <a routerLink="addAsset" routerLinkActive="active">Add Asset</a> -->
        <a [routerLink]='["/addAsset"]' routerLinkActive="active">Add Asset</a>
      </li>
      <li>
        <a routerLink="viewAsset" routerLinkActive="active">View Asset</a>
      </li>
    </ul>
  </div>
</nav>
<div>
<router-outlet></router-outlet>
</div>
